* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, magenta, rgb(0, 255, 21));
}

#editor {
  width: 50%;
  min-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  outline: none;
  border-radius: 7px 7px 0px 0px;
}
#preview {
  background-color: #eee;
  padding: 20px;
  text-align: left;
  width: 90%;
  height: fit-content;
  margin: auto;
  border: 2px solid black;
}
#preview h1,
h2 {
  color: rgb(0, 22, 87);
}
#preview img {
  max-width: 90%;
}
code {
  background-color: rgb(211, 211, 211);
}
pre {
  display: block;
  overflow: auto;
  background: rgb(211, 211, 211);
  padding: 5px;
  line-height: 1.25;
}
